/* 2 */
.parent-block {
  margin-top: 100px;
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid aqua;
}
.child-block {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: gray;
}

/* 3 */
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* justify-content: center;
  align-items: center; */
}
.content button {
  background-color: yellow;
  border: none;
  width: 80px;
  height: 40px;
  border-radius: 10px;
}
.content .red {
  background-color: red;
}

/* Tab slider */
.tab-slider-slides {
  display: flex;
  gap: 50px;
}
.tab-slider-block {
  padding: 20px;
  width: 70%;
  border: 1px solid salmon;
}
.tab-slider-items {
  max-width: 300px;
  width: 100%;
  text-align: center;
  border: 1px solid #000;
}
.tab-slider-item {
  padding: 20px;
  border-bottom: 1px solid #000;
}
.tab-slider-item:nth-last-child(1) {
  border-bottom: none;
}
.tab-slider-item__active {
  background-color: yellow;
}

/* button hover effect */
.button-container {
  background-color: #000;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  color: #fff;
  cursor: pointer;
  font-style: 16px;
  line-height: 40px;
  max-width: 160px;
  font-weight: 400;
  width: 100%;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.button svg {
  position: absolute;
  height: 40px;
  left: 0;
  top: 0;
  width: 100%;
}
.button rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 450, 0;
  transition: all 0.5s linear;
}
.button:hover rect {
  stroke-width: 5;
  stroke-dasharray: 20, 330;
  stroke-dashoffset: 48;
  transition: all 2s cubic-bezier(0.22, 1, 0.25, 1);
}

/* slider */
.container {
  margin: 100px 0 100px;
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 0 20px;
}
.slider {
  background: rgba(98, 31, 31, 0.373);
  max-width: 1000px;
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.slider-wrapper {
  display: flex;
  position: absolute;
  left: 0;
  transition: 1s;
}
.slider-slide {
  min-width: 1000px;
  width: 100%;
  min-height: 600px;
  height: 100%;
  overflow: hidden;
}
.red {
  background: rgba(234, 10, 10, 0.954);
}
.green {
  background: rgba(22, 199, 22, 0.94);
}
.gray {
  background: rgba(107, 101, 101, 0.944);
}
.slider-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  color: rebeccapurple;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
 font-weight: 900;
 font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-prev {
  left: 10px;
}
.slider-next {
  right: 10px;
}
