
/* 2 */
.parent-block {
  margin-top: 100px;
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid aqua;
}
.child-block {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: gray;
}

/* 3 */
.button-container {
  background-color: #000;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  color: #fff;
  cursor: pointer;
  font-style: 16px;
  line-height: 40px;
  max-width: 160px;
  font-weight: 400;
  width: 100%;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.button svg {
  position: absolute;
  height: 40px;
  left: 0;
  top: 0;
  width: 100%;
}
.button rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 450, 0;
  transition: all 0.5s linear;
}
.button:hover rect {
  stroke-width: 5;
  stroke-dasharray: 20, 330;
  stroke-dashoffset: 48;
  transition: all 2s cubic-bezier(0.22, 1, 0.25, 1);
}
